apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: configurazione
  namespace: argocd-system
spec:
  destination:
    server: https://kubernetes.default.svc
  project: infrastruttura
  source:
    directory:
      jsonnet: {}
      recurse: true
    path: ./
    repoURL: https://github.com/Gjonni/k3s.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: false